table.table th, table.table td{
    padding: 5px;
}

.allRequest {
    text-align: center;
    font-weight: 500;
    background: #da731cb8;
    color: var(--gray-dark);
    font-size: 22px;
    padding: 10px;
    margin-bottom: 10px
}